@import '../../globals/scss/styles.scss';

.resource-access__container {
  overflow-x: auto;
  overflow-y: visible;
}

.resource-access__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  min-width: 30rem;

  tbody {
    tr:not(:last-child) {
      border-bottom: solid 1px $color__grey-light-1;
    }
  }

  td,
  th {
    padding: 0.5rem 0;
    text-align: left;

    &:not(:last-child) {
      padding-right: 1rem;
    }
  }

  thead {
    th {
      font-size: $small-font-size;
      color: $color__grey-2;
    }

    border-bottom: solid 2px $color__grey-light-1;
  }
}

.resource-access__caption {
  text-align: left;
}

.resource-access__caption-text {
  font-weight: 600;
  margin-right: 0.5rem;
}

.resource-access__caption-location {
  font-size: $small-font-size;
}

.resource-access__caption-note,
.resource-access__caption-scroll-text {
  display: block;
  font-size: $small-font-size;
}

.resource-access__cell {
  .icon {
    margin-top: -3px;
  }
}

.resource-access__cell--success {
  color: $color__green-1;
}

.resource-access__cell--warning {
  color: $color__orange-1;
}

.resource-access__cell--error {
  color: $color__red-1;
}

.resource-access__cell-html {
  color: $color__grey-2;

  a {
    color: currentColor;
  }
}
