@import '../../globals/scss/styles.scss';
@import '../../globals/scss/mixins.scss';

.button {
  cursor: pointer;
  text-decoration: none;
  line-height: normal;

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.button--start,
.button--primary,
.button--secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.button--start,
.button--primary {
  background: $button-background-color;
  color: white;
  border: 0;
  border-bottom: darken($button-background-color, 5%);
  border-bottom-width: 3px;
  border-bottom-style: solid;

  &:focus {
    background: $button-background-color;
  }

  &:hover {
    cursor: pointer;
    background: darken($button-background-color, 5%);
    border-color: darken($button-background-color, 10%);
    color: white;
  }
}

.button--start {
  font-size: 1.2rem;
  font-weight: 600;
}

.button--secondary {
  color: $text-secondary-color;
  border: solid 1px lighten($text-secondary-color, 20%);
  background: transparent;

  &:hover {
    border-color: $text-secondary-color;
  }
}

.button--tertiary {
  color: $text-secondary-color;
  text-decoration: underline;
}

.button--small {
  font-size: 0.85rem;
}

.button--primary,
.button--secondary {
  padding: 0.25rem 0.5rem;
}
