@mixin font-family {
  font-family: 'Source Sans Pro', sans-serif;
}

.list {
  list-style: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.list--bullet {
  list-style-type: disc;
}

.list--bullet,
.list--number {
  padding-left: 1rem;
  margin-bottom: 1rem;
}