@import '../../globals/scss/styles.scss';

.record-fields {
  width: 100%;

  @media screen and (min-width: $small-screens) {
    display: table;
  }
}

.record-fields__field {
  &:nth-child(odd) {
    background: $color__grey-light-2;
  }

  &:nth-child(even) {
    background: $color__grey-light-3;
  }

  @media screen and (min-width: $small-screens) {
    display: table-row;
  }
}

.record-fields__term {
  color: $text-secondary-color;
  font-size: 0.875rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: $small-screens) {
    font-size: 1rem;
    display: table-cell;
    width: 12rem;
  }
}

.record-fields__description {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: $small-screens) {
    display: table-cell;
    padding-left: 0;
  }
}

.record-fields__description-item {
  display: block;
}
