/*
  U-M Brand colors
*/
/*
  Greys
*/
/*
  Blues
*/
/*
  Greens
*/
/*
  Oranges
*/
/*
  Reds
*/
/*
  Teals
*/
/*
  Purple
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700");
.list {
  list-style: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem; }

.list--bullet {
  list-style-type: disc; }

.list--bullet,
.list--number {
  padding-left: 1rem;
  margin-bottom: 1rem; }

html {
  /* HTML5 display-role reset for older browsers */
  /* Reset `button` and button-style `input` default styles */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #262626; }
  html html,
  html body,
  html div,
  html span,
  html applet,
  html object,
  html iframe,
  html h1,
  html h2,
  html h3,
  html h4,
  html h5,
  html h6,
  html p,
  html blockquote,
  html pre,
  html a,
  html abbr,
  html acronym,
  html address,
  html big,
  html cite,
  html code,
  html del,
  html dfn,
  html em,
  html img,
  html ins,
  html kbd,
  html q,
  html s,
  html samp,
  html small,
  html strike,
  html strong,
  html sub,
  html sup,
  html tt,
  html var,
  html b,
  html u,
  html i,
  html center,
  html dl,
  html dt,
  html dd,
  html ol,
  html ul,
  html li,
  html fieldset,
  html form,
  html label,
  html legend,
  html table,
  html caption,
  html tbody,
  html tfoot,
  html thead,
  html tr,
  html th,
  html td,
  html article,
  html aside,
  html canvas,
  html details,
  html embed,
  html figure,
  html figcaption,
  html footer,
  html header,
  html hgroup,
  html menu,
  html nav,
  html output,
  html ruby,
  html section,
  html summary,
  html time,
  html mark,
  html audio,
  html video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  html button,
  html input[type='button'],
  html input[type='submit'],
  html input[type='reset'],
  html input[type='file'] {
    border-radius: 0; }
  html input[type='text']::-ms-clear {
    display: none; }
  html article,
  html aside,
  html details,
  html figcaption,
  html figure,
  html footer,
  html header,
  html hgroup,
  html menu,
  html nav,
  html section {
    display: block; }
  html sup {
    vertical-align: super; }
  html sub {
    vertical-align: sub; }
  html ol,
  html ul {
    list-style: none; }
  html blockquote,
  html q {
    quotes: none; }
  html blockquote:before,
  html blockquote:after,
  html q:before,
  html q:after {
    content: '';
    content: none; }
  html table {
    border-collapse: collapse;
    border-spacing: 0; }
  html * {
    box-sizing: border-box; }
  html input[type="submit"],
  html input[type="reset"],
  html input[type="button"],
  html button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    /* for input */
    -webkit-user-select: none;
    /* for button */
    -moz-user-select: none;
    -ms-user-select: none; }
  html input::-moz-focus-inner,
  html button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  @media (min-width: 42rem) {
    html {
      font-size: 19px; } }

a {
  color: #126DC1; }

*:focus {
  outline: 3px solid rgba(255, 203, 5, 0.9);
  outline-offset: 0;
  transition: outline 0.05s ease-out; }

/*
  Spacing helpers
*/
.margin-top-none {
  margin-top: 0; }

.margin-top-quarter {
  margin-top: 4px; }

.margin-top-half {
  margin-top: 8px; }

.margin-top-one {
  margin-top: 16px; }

.margin-top-two {
  margin-top: 32px; }

.margin-top-three {
  margin-top: 48px; }

.margin-right-none {
  margin-right: 0; }

.margin-right-quarter {
  margin-right: 4px; }

.margin-right-half {
  margin-right: 8px; }

.margin-right-one {
  margin-right: 16px; }

.margin-right-two {
  margin-right: 32px; }

.margin-right-three {
  margin-right: 48px; }

.margin-bottom-none {
  margin-bottom: 0; }

.margin-bottom-quarter {
  margin-bottom: 4px; }

.margin-bottom-half {
  margin-bottom: 8px; }

.margin-bottom-one {
  margin-bottom: 16px; }

.margin-bottom-two {
  margin-bottom: 32px; }

.margin-bottom-three {
  margin-bottom: 48px; }

.margin-left-none {
  margin-left: 0; }

.margin-left-quarter {
  margin-left: 4px; }

.margin-left-half {
  margin-left: 8px; }

.margin-left-one {
  margin-left: 16px; }

.margin-left-two {
  margin-left: 32px; }

.margin-left-three {
  margin-left: 48px; }

.padding-top-none {
  padding-top: 0; }

.padding-top-quarter {
  padding-top: 4px; }

.padding-top-half {
  padding-top: 8px; }

.padding-top-one {
  padding-top: 16px; }

.padding-top-two {
  padding-top: 32px; }

.padding-top-three {
  padding-top: 48px; }

.padding-bottom-none {
  padding-bottom: 0; }

.padding-bottom-quarter {
  padding-bottom: 4px; }

.padding-bottom-half {
  padding-bottom: 8px; }

.padding-bottom-one {
  padding-bottom: 16px; }

.padding-bottom-two {
  padding-bottom: 32px; }

.padding-bottom-three {
  padding-bottom: 48px; }

.y-spacing > *:not(:last-child) {
  margin-bottom: 1rem; }

.x-spacing > *:not(:last-child) {
  margin-right: 1rem; }

.layout-flex {
  display: flex; }

.list {
  list-style: none;
  margin-top: 0.25rem;
  margin-bottom: 1rem; }

.list--bullet {
  list-style-type: disc; }

.list--bullet,
.list--number {
  padding-left: 1rem;
  margin-bottom: 1rem; }

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.alert {
  margin: 0;
  padding: 0.75rem 0;
  border-bottom: solid 1px #E5E5E5;
  background: #FAFAFA;
  border-left: 0;
  border-right: 0; }
  .alert a {
    color: inherit;
    text-decoration: underline; }

.alert-inner {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: baseline;
  padding: 0 1rem; }

.alert--informational {
  color: #0C5292;
  background: #F2F9FF;
  border-color: #CCE6FF; }

.alert--success {
  color: #057C42;
  background: #E2F4EB;
  border-color: #05A657; }

.alert--warning {
  color: #AA5600;
  background: #FFEEDD;
  border-color: #E77504; }

.alert--error {
  color: #C53B26;
  background: #FFEAE7;
  border-color: #C53B26; }

.alert-message {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  font-size: 0.875rem; }

.alert-dismiss-button {
  color: inherit;
  font-weight: 600; }
