@import '../../globals/scss/styles.scss';

@mixin record-padding() {
  padding: 1rem 1.25rem;

  @media screen and (min-width: $small-screens) {
    padding: 1.5rem 2rem;
  }
}

.record__container {
  background: white;
}

.record__metadata-container {
  @include record-padding();
}

.record__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.record__title-link {
  text-decoration: none;
  border-bottom: solid 2px rgba($color__blue-3, 0.4);

  &:hover {
    background: $color__blue-light-1
  }
}

.record__access-container {
  @include record-padding();
  background: $color__grey-light-3;
  border-bottom: 1px solid $color__grey-light-1;
}


/*
  Helper story classes
*/

.container {
  max-width: 48rem;
  margin: 0 auto;
}

.container-for-record-story {
  background: $color__grey-light-2;
  padding: 0.5rem;

  padding-top: 1rem;
  padding-bottom: 4rem;
}
