@import '../../globals/scss/styles.scss';

.record-fields {
  width: 100%;

  @media screen and (min-width: $small-screens) {
    display: table;
  }
}

.record-fields__field {
  @media screen and (min-width: $small-screens) {
    display: table-row;
  }
}

.record-fields__term {
  color: $text-secondary-color;
  font-size: $small-font-size;
  padding-right: 1rem;

  @media screen and (min-width: $small-screens) {
    font-size: 1rem;
    display: table-cell;
    width: 12rem;
  }
}

.record-fields__description {
  padding-right: 1rem;

  @media screen and (min-width: $small-screens) {
    display: table-cell;
    padding-left: 0;
  }
}

.record-fields__description-item {
  display: block;
}

.field-nested__desc {
  display: inline-block;

  &:not(:first-child)::before {
    position: relative;
    /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
    content: "";
    display: inline-block;
    /* By using an em scale, the arrows will size with the font */
    width: 0.35rem;
    height: 0.35rem;
    border-right: 2px solid $color__grey-2;
    border-top: 2px solid $color__grey-2;
    transform: rotate(45deg);
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
}

.record-fields--full {
  .record-fields__field {
    &:nth-child(odd) {
      background: $color__grey-light-2;
    }

    &:nth-child(even) {
      background: $color__grey-light-3;
    }
  }

  .record-fields__term {
    padding-top: 0.5rem;
    padding-left: 1rem;
  }

  .record-fields__description {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
}
