@import '../../globals/scss/styles.scss';

.record-access__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  caption {
    text-align: left;
  }

  tbody {

  }

  td,
  th {
    padding: 0.5rem 0;
    text-align: left;

    &:not(:last-child) {
      padding-right: 1rem;
    }
  }

  thead {
    th {

    }
  }
}
