@import '../../globals/scss/styles.scss';

.record-access__container {
  overflow-x: auto;
  overflow-y: visible;
}

.record-access__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  tbody {
    tr:not(:last-child) {
      border-bottom: solid 1px $color__grey-light-1;
    }
  }

  td,
  th {
    padding: 0.5rem 0;
    text-align: left;

    &:not(:last-child) {
      padding-right: 1rem;
    }
  }

  thead {
    th {
      font-size: 0.875rem;
      color: $color__grey-2;
    }

    border-bottom: solid 2px $color__grey-light-1;
  }
}

.record-access__caption {
  text-align: left;
}

.record-access__caption-text {
  font-weight: 600;
}

.record-access__caption-scroll-text {
  display: block;
  font-size: 0.875rem;
}

.record-access__cell--success {
  color: $color__green-1;
}

.record-access__cell--warning {
  color: $color__orange-1;
}

.record-access__cell--error {
  color: $color__red-1;
}
