.docs {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4,1fr);
  max-width: 52rem;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.header__inner {
  max-width: 52rem;
}

.docs__side-nav {
  grid-column: 1;
  margin-top: 3rem;

  & > ul {
    position: sticky;
    top: 1rem;
  }
}

.docs__content {
  grid-column: 2/5;
}

.docs__content-inner {
  
}