body,
html {
  padding: 0;
  margin: 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
}

@media screen and (min-width: 960px) {
	body,
	html {
		font-size: 19px;
	}
}

a {
	color: #126DC1;
}

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

